<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737152291235-8lsk23rl7ri6mov2u21qcdk27js6ihf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737152291235-8lsk23rl7ri6mov2u21qcdk27js6ihf9</string>
	<key>API_KEY</key>
	<string>AIzaSyARcA9bJDBT4HZfznUHuPT_KxnDbPS-Qyk</string>
	<key>GCM_SENDER_ID</key>
	<string>737152291235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.curdOperation</string>
	<key>PROJECT_ID</key>
	<string>curdoperationflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>curdoperationflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737152291235:ios:1114bdbb256ab597e24a16</string>
</dict>
</plist>